.menu {
  /* add correct code to place the menu correctly.*/
  display: flex;
  justify-content:space-between;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */
  display:flex;
  flex-wrap:wrap ;
  justify-content: right;
  text-align: left;
  font-family: Comic Sans MS ;
}

.grid img {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 45px;
}
.origami {
  display: flex;
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}

body{
  background: color E 0B 0ff;;
}
